.venv/
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
.DS_Store
.idea/

runtime/logs/*
!runtime/logs/.gitkeep
runtime/tmp/*
!runtime/tmp/.gitkeep

data/*
!data/.gitkeep
!data/README.md

models/**/._____temp/*
models/**/._____temp/
models/**/__pycache__/*
models/**/__pycache__/

configs/app.local.yaml
*.log
*.mp4
temp*.aac
temp*.mp4
wav2lip/results/
