numpy==1.22.0
opencv-python
PyYAML==6.0.2
tqdm
scipy
soundfile==0.12.1
resampy
requests
librosa
numba

aiohttp
aiohttp_cors
aiortc
av==12.3.0

edge_tts
funasr==1.0.23
modelscope==1.8.1
onnxruntime>=1.18.0
sherpa-onnx==1.12.19

setuptools<81
